.setting-login {
  margin-top: 50px;
}
.form-login {
  background: darkslategray;
}
.bg-logo {
  top: 155px;
  z-index: -1;
  width: 100%;
  /* margin: 0 auto; */
  position: absolute;
}

.container-login {
  padding: 0px 30px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
.container-join {
  padding: 0px;
  /* margin: auto 0; */
  display: flex;
  flex-direction: column;
}

.text-atau {
  text-align: center;
  margin: 10px 0px;
  width: 100%;
  display: block;
}

.login-logo {
  width: 32%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.version-login {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dashboard-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: #737373;
}

.dashboard-btn:hover,
.dashboard-btn:active {
  background-color: rgba(129, 129, 129, 0.164);
}

.status-card-meet {
  position: absolute;
  right: 10px;
  top: 10px;
}

.pic-meet {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.c-btn-join {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.p10 {
  padding: 10px !important;
}

.ilpes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
}

.ilpes .ilp {
  font-size: 12px;
  color: #737373;
}
.txr {
  text-align: right;
}

.btn-grid-peserta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.act-meet {
  justify-content: center;
  gap: 30px;
  margin: 10px;
}

.act-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
}

.act-btn ion-icon {
  font-size: 20px;
  margin-bottom: 5px;
  background-color: var(--ion-color-primary-shade);
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.act-btn.off ion-icon {
  background-color: var(--ion-color-danger-shade);
}

.text-primary {
  color: var(--ion-color-light) !important;
}

.item-chat {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-chat.me {
  align-items: end;
}

.h-ch {
  display: flex;
  gap: 5px;
}

.item-chat .bbl-chat {
  background: var(--ion-color-light);
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
}

.item-chat.me .bbl-chat {
  background: var(--ion-color-primary);
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
}

.custom-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ion-card {
  background-color: white !important;
  border: 4px solid #ccc;
  border-radius: 10px;
  margin-bottom: 50px;
}
.item-pick {
  /* background-color: #bfbebe; */
  background-color: aliceblue;
}
ion-searchbar{
  /* background-color: #bfbebe; */
  color: black;
}
.sc-ion-searchbar-md-h {
  color: black;
  --icon-color: var(--ion-card-background) !important;
}
ion-icon{
  color: black;
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 20px;
  color: black !important;
}
.img-ic{
  font-size: 20px;
  max-width: 11%;
  margin: 0px 5px 0px 2px;
}
.ic-toolbar{
  margin-right: 9px;
  color: white;
  font-size: 26px;
  max-width: 11%;
}
.cust-name{
  color: black;
  margin: 0px 0px 0px 2px;
  max-width: 145px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font-black{
  color: black !important;
}
.item-inner{
  border-style: none !important;
}
.display-flex {
  display: flex;
  margin: 3px 10px 0px 10px;
}
.margin-memo{
  margin-left: 14px !important;
  max-width: 22rem;
}

.float-right-flex{
  margin-left: auto !important;
}

ion-list{
  border-radius: 7px;
}
.pick-addr{
  margin: 9px 17px 0;
  max-width: 17rem;
}



.chat-item {
  ion-avatar {
    margin-right: 8px;
  }

  ion-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-right: 8px;
  }

  ion-note {
    font-size: 12px;
  }
}
.fur-el {
  background-color: #f2f4f5;
}
.content-furniture{
  font-size: large;
  margin: 4px 12px 14px;
  font-family: sans-serif;
}

.fur-el2{
  background-color: #073C7A;
}
.font-white {
  color: white;
}
.ic-chev-detail{
  color: white;
  font-size: 26px;
  max-width: 11%;
}
.ic-chev-detail-black{
  font-size: 26px;
  max-width: 11%;
}
.desc-detail {
  margin: 10px;
}
.font-skyblue{
  color: #073C7A;
}
.title-detail {
  font-weight: 100;
}
.font-cont-detail {
  font-size: 15px;
}
.flex-item {
  flex: 1;
}
.title-header {
  margin: 16px 20px 20px;
}
.font-monospace {
  font-family: monospace;
}
.font-bold {
  font-weight: bolder !important;
}
.font-none {
  font-family: none;
}
#background-content {
  background: aliceblue !important;
}
.btn-tabs {
  color: white !important;
}
.refresh-icon {
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition */
}

.refresh-icon.spin {
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn-bottom {
  margin-left: 40px;
 }
 .ic-filter{
  margin-left: 15px;
 }
 .arr-back-history {
  margin-left: 20px;
 }
 .title-history {
  text-align: center;
  margin-right: 51px;
 }
 .bg-aquamarine {
  background-color: aquamarine;
 }